<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="mqreader"
   iconfile="MQReader.png"
   description="MQ Reader"
   tooltip="MQ Reader"
   category="Transform"
   classname="com.kingbase.ketl.plugins.mqreader.MQReaderMeta">
   <libraries>
    <library name="mqreader.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">Input</category>
     <category locale="zh_CN">输入</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">MQ Reader</description>
     <description locale="zh_CN">消息接收</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">MQ Reader</tooltip>
     <tooltip locale="zh_CN">消息接收</tooltip>
   </localized_tooltip>
   
</plugin>
