<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="JasperReportOutput"
   iconfile="JFR.png"
   description="Jasper Report Output"
   tooltip="Create a report using a JFreeReport definition file"
   category="Output"
   errorhelpfile="ClassLoadError.html"
   classname="com.xgn.jasperreport.plugin.JasperReportingOutputMeta">
   <libraries>
    <library name="jasper-reporting-plugin.jar"/>
       <library name="itext-2.1.7.jar"/>
       <library name="itextasian-1.0.jar"/>
       <library name="jasperreports-3.7.3.jar"/>  
       <library name="pixie-0.8.6.jar"/>
       <library name="poi-3.5-FINAL-20090928.jar"/>
       <library name="sac.jar"/>
       <library name="jdt-compiler-3.1.1.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">Output</category>
     <category locale="zh_CN">输出</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Jasper Report Output</description>
     <description locale="zh_CN">Jasper报表输出</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US"> a report using a Jasper Report definition file</tooltip>
     <tooltip locale="zh_CN"> 通过使用jasper 的 jrxml 文件，生成一个报表</tooltip>
   </localized_tooltip>
   
</plugin>
