<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="cdextract"
   iconfile="CDE.png"
   description="Change Data Extract"
   tooltip="extract change data"
   category="Input"
   classname="com.xgn.ketl.trans.step.tableincrementalinput.TableIncrementalInputMeta">
   <libraries>
    <library name="common-cdc.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">Input</category>
     <category locale="zh_CN">输入</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Change Data Extractor</description>
      <description locale="zh_CN">Change Data Extractor</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">Change Data Extractor</tooltip>
     <tooltip locale="zh_CN">Change Data Extractor</tooltip>
   </localized_tooltip>
   
</plugin>
