<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="OracleCDCOutput"
   iconfile="DPL.png"
   description="OracleCDCOutput Plugin"
   tooltip="This is a oracle cdc input plugin step"
   category="Transform"
   classname="com.kingbase.ketl.plugins.oraclecdcoutput.OracleCDCOutputMeta">
   <libraries>
    <library name="oraclecdcoutput.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">Output</category>
	 <category locale="zh_CN">输出</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Change Data Output plugin</description>
	 <description locale="zh_CN">增量表输出</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">Change Data Output plugin</tooltip>
	 <tooltip locale="zh_CN">增量表输出</tooltip>
   </localized_tooltip>
   
</plugin>
