<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="mqwriter"
   iconfile="MQWriter.png"
   description="MQ Writer"
   tooltip="MQ Writer"
   category="Transform"
   classname="com.kingbase.ketl.plugins.mqwriter.MQWriterMeta">
   <libraries>
    <library name="mqwriter.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">Output</category>
     <category locale="zh_CN">输出</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">MQ Writer</description>
     <description locale="zh_CN">消息发送</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">MQ Writer</tooltip>
     <tooltip locale="zh_CN">消息发送</tooltip>
   </localized_tooltip>
   
</plugin>
